#mainContainer {
	padding-top: 70px;
}

#resultsCard, #errorAlert, #profilesCards {
	margin-top: 20px;
	margin-bottom: 20px;
}

#rndBtn, .storeBtn {
	float: right;
}

.profileBtn {
	padding-top: 10px;
}

.profileImg {
	margin-bottom: 0px;
}

.profileImg > img {
	padding-right: 10px;
	margin-bottom: 0px;
}

.gameTitle {
	width: 100%;
	padding-top: 10px;
	padding-left: 10px;
}

.gameListItem {
	padding: 0px;
}
