<!DOCTYPE html>
<html lang="en" ng-app="steam-with-friends">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, height=device-height, initial-scale=0.75">
		<title>Steam with Friends</title>
		<link rel="icon" href="favicon.ico">

		<!-- Scripts -->
		<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.1/js/standalone/selectize.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/machineboy2045-angular-selectize2/3.0.1/angular-selectize.min.js"></script>

		<script crossorigin src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
		<script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script>
		
		<script type="text/javascript" src="js/main.js"></script>

		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
			<script src="http://cdnjs.cloudflare.com/ajax/libs/es5-shim/2.0.8/es5-shim.min.js">
		<![endif]-->

		<!-- Stylesheets -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.bootstrap3.min.css">
		<link rel="stylesheet" href="css/style.css">
	</head>

	<body id="main" ng-controller="steamCtrl" ng-init="readSettings()">
		<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
			<a class="navbar-brand" href="#">
				<i class="fab fa-steam"></i>
				Steam with Friends
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarCollapse">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
					</li>
				</ul>
			</div>
			<span class="navbar-text">
				<a href="https://github.com/rattmuffen/Steam-with-Friends" target="_blank" title="Open Steam with Friends in GitHub">
					<i class="fab fa-github fa-lg"></i>
				</a>
			</span>
		</nav>
		<main id="mainContainer" role="main" class="container">

			<!-- User details card -->
			<div class="card shadow-sm">
				<div class="card-header">
					<h4>User Details</h4>
				</div>
				<div class="card-body">
					<p class="card-text">
						Input two different users Steam community profile names (or IDs) and press that big blue button!
					</p>
					<p>
						<b>Note!</b>
						Both profiles needs to be public!
					</p>
					<hr>
					<form class="form-validate" novalidate ng-submit="getGames()">
						<div class="form-group">
							<label for="user1Input">Profile name or ID for first user</label>
							<div class="input-group">
								<div class="input-group-prepend">
									<span class="input-group-text">
										{{STEAM_BASE_URL}}
									</span>
								</div>
								<input id="user1Input" type="text" class="form-control form-control-lg"  placeholder="A Steam profile" ng-model="user1_profile" required>
								<div class="input-group-append">
									<a ng-href="{{STEAM_BASE_URL}}{{user1_profile}}" target="_blank" class="btn btn-outline-secondary profileBtn rounded-right" title="Open profile in Steam">
										<i class="fab fa-steam-square fa-lg"></i>
									</a>
								</div>
								<div class="invalid-feedback">
									<i class="fa fa-times"></i> Please input a valid public Steam Community profile name or ID!
								</div>
							</div>
						</div>
						<div class="form-group">
							<label for="user2Input">Profile name or ID for second user</label>
							<div class="input-group">
								<div class="input-group-prepend">
									<span class="input-group-text" id="urlPrepend2">{{STEAM_BASE_URL}}</span>
								</div>
								<input id="user2Input" type="text" class="form-control form-control-lg"  placeholder="Another Steam profile" ng-model="user2_profile" aria-describedby="urlPrepend2" required>
								<div class="input-group-append">
									<a ng-href="{{STEAM_BASE_URL}}{{user2_profile}}" target="_blank" class="btn btn-outline-secondary profileBtn rounded-right" title="Open profile in Steam">
										<i class="fab fa-steam-square fa-lg"></i>
									</a>
								</div>
								<div class="invalid-feedback">
									<i class="fa fa-times"></i> Please input a valid public Steam Community profile name or ID!
								</div>
							</div>
						</div>
						<button class="btn btn-primary btn-lg btn-block" type="submit">
							<span ng-if="!loading">Get shared Steam games!</span>
							<div ng-if="loading">
								<span class="spinner-border" role="status" aria-hidden="true"></span>
								Getting games...
							</div>
						</button>
					</form>
				</div>
			</div>

			<!-- Profiles cards -->
			<div id="profilesCards" class="row" ng-if="!loading && errorCode == '' && errorDetails == '' && user1 && user2">
				<div class="col-sm-6">
					<div class="card profilesCard shadow-sm">
						<div class="card-header">
							<h4>
								{{user1.profile.nickname}}
								<span class="badge badge-secondary">{{user1.profile.countryCode}}</span>
							</h4>
						</div>
						<figure class="figure profileImg">
						  <img ng-src="{{user1.profile.avatar.large}}" class="figure-img img-fluid rounded float-left" alt="Profile picture">
						  <figcaption class="figure-caption text-left">
								Last logoff: {{user1.profile.lastLogOff * 1000 | date:'medium'}}
								<br>
								Number of games: {{user1.games.length}}
							</figcaption>
						</figure>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="card profilesCard shadow-sm">
						<div class="card-header">
							<h4>
								{{user2.profile.nickname}}
								<span class="badge badge-secondary">{{user2.profile.countryCode}}</span>
							</h4>
						</div>
						<figure class="figure profileImg">
						  <img ng-src="{{user2.profile.avatar.large}}" class="figure-img img-fluid rounded float-left" alt="Profile picture">
						  <figcaption class="figure-caption text-left">
								Last logoff: {{user2.profile.lastLogOff * 1000 | date:'medium'}}
								<br>
								Number of games: {{user2.games.length}}
							</figcaption>
						</figure>
					</div>
				</div>
			</div>

			<!-- List of games card -->
			<div id="resultsCard" class="card shadow-sm" ng-if="sharedGames.length > 0 && !loading && errorCode == '' && errorDetails == ''">
				<div class="card-header">
					<h4>
						{{sharedGames.length}} shared games
						<button id="rndBtn" type="button" class="btn btn-success pull-right" ng-click="selectRandomGame()">Select a random game!</button>
					</h4>
				</div>
				<div class="card-body">
					<form>
						<div class="form-row">
							<div class="form-group col-md-10">
								<label for="sortSelect">Sort games</label>
								<select class="custom-select" id="sortSelect" ng-click="updateSortOrder()">
									<option ng-repeat="type in sortTypes" value="{{type.field}}" ng-selected="{{sortField == type.field}}">
										{{getSortName(type)}}
									</option>
								</select>
							</div>
							<div class="form-group col-md-2">
								<label for="orderSelect">Order</label>
								<select class="custom-select" id="orderSelect" ng-click="updateSortOrder()">
									<option value="false" ng-selected="{{!reverse}}">ascending</option>
									<option value="true" ng-selected="{{reverse}}">descending</option>
								</select>
							</div>
						</div>
					</form>
					<hr>
					<div class="accordion" id="filterAccordion">
						<button class="btn btn-sm btn-block btn-outline-secondary" type="button" data-toggle="collapse" data-target="#filterCollapse" aria-expanded="true" aria-controls="filterCollapse">
							<i class="fas fa-filter"></i>
							Filter games...
						</button>
						<div id="filterCollapse" class="collapse" aria-labelledby="headingOne" data-parent="#filterAccordion">
							<div id="categoryFormGroup" class="form-group">
								<label for="categorySelect">Categories</label>
								<selectize id="categorySelect" config='selectizeCategoryConfig' options='allCategories' ng-model="filter.categories">
								</selectize>
								<div id="categoryButtonsRow" class="row filterRow">
									<div class="custom-control custom-switch">
										<input type="checkbox" class="custom-control-input" id="categoriesAndSwitch" ng-model="filter.categoriesAnd" ng-click="saveSettings()">
										<label class="custom-control-label" for="categoriesAndSwitch">Must match all selected categories</label>
									</div>
									<button class="btn btn-outline-secondary btn-sm" ng-click="filter.categories = multiplayerCategories">
										<i class="fas fa-user-friends"></i>
										Multiplayer games
									</button>
									<button class="btn btn-outline-secondary btn-sm" ng-click="filter.categories = controllerCategories">
										<i class="fas fa-gamepad"></i>
										Games with controller support
									</button>
									<button class="btn btn-secondary btn-sm" ng-click="filter.categories = []">
										<i class="fas fa-times"></i>
										Reset filter
									</button>
								</div>
							</div>
							<div id="genreFormGroup" class="form-group">
								<label for="genreSelect">Genres</label>
								<selectize id="genreSelect" config='selectizeGenreConfig' options='allGenres' ng-model="filter.genres">
								</selectize>
								<div id="genreButtonsRow" class="row filterRow">
									<div class="custom-control custom-switch">
									  <input type="checkbox" class="custom-control-input" id="genresAndSwitch" ng-model="filter.genresAnd" ng-click="saveSettings()">
									  <label class="custom-control-label" for="genresAndSwitch">Must match all selected genres</label>
									</div>
									<button class="btn btn-secondary btn-sm" ng-click="filter.genres = []">
										<i class="fas fa-times"></i>
										Reset filter
									</button>
								</div>
							</div>
							<div id="developerFormGroup" class="form-group">
								<label for="developerSelect">Developers</label>
								<selectize id="developerSelect" config='selectizeDeveloperConfig' options='allDevelopers' ng-model="filter.developers">
								</selectize>
								<div id="developerButtonsRow" class="row filterRow">
									<div class="custom-control custom-switch">
									  <input type="checkbox" class="custom-control-input" id="developersAndSwitch" ng-model="filter.developersAnd" ng-click="saveSettings()">
									  <label class="custom-control-label" for="developersAndSwitch">Must match all selected developers</label>
									</div>
									<button class="btn btn-secondary btn-sm" ng-click="filter.developers = []">
										<i class="fas fa-times"></i>
										Reset filter
									</button>
								</div>
							</div>
						</div>
					</div>
					<hr>
					<div class="custom-control custom-switch">
					  <input type="checkbox" class="custom-control-input" id="unplayedSwitch" ng-model="filter.unplayed" ng-click="saveSettings()">
					  <label class="custom-control-label" for="unplayedSwitch">Show only games neither has played</label>
					</div>

					<small>{{getFilteredGames(sharedGames).length}} games in current filter</small>
				</div>
				<div class="list-group list-group-flush list-group-striped">
					<a class="list-group-item list-group-item-action gameListItem" ng-repeat="game in sharedGames | orderBy:sortField:reverse | filter:inFilter" ng-href="https://store.steampowered.com/app/{{game.appID}}" target="_href" title="Open {{game.name}} in Steam store">
						<div class="container-fluid">
						  <div class="row">
						    <div class="col logoCol">
						      <img class="mb-1" ng-src="{{game.logoURL}}">
						    </div>
						    <div class="col col-6 titleCol">
						      <h5>{{game.name}}</h5>
						    </div>
						    <div class="col text-right">
									<ul class="list-unstyled">
										<li><small><b>Released:</b> {{game.details.release_date.date}}</small></li>
										<li><small><b>Metacritic score:</b> {{game.details.metacritic.score}}</small></li>
										<li><small><b>Recommendations:</b> {{game.details.recommendations.total}}</small></li>
									</ul>
						    </div>
						  </div>
						</div>
						<div class="gameDetails">
					    <small class="mb-1 text-muted">
									{{game.details.short_description}}
							</small>
							<ul class="list-inline categoryList">
							  <li ng-repeat="category in game.details.categories | orderBy:'description'"class="list-inline-item">
									<small><span class="badge badge-light">{{category.description}}</span></small>
								</li>
							</ul>
							<span class="badge badge-light">{{user1.profile.nickname}} playtime: {{game.user1PlayTime}} minutes</span>
							<span class="badge badge-light">{{user2.profile.nickname}} playtime: {{game.user2PlayTime}} minutes</span>
						</div>
				  </a>
				</div>
				<div class="card-footer text-muted text-center">
					<a href="#" onclick="$(window).scrollTop(0);">Return to top</a>
				</div>
			</div>

			<!-- Error alert! -->
			<div id="errorAlert" class="alert alert-danger alert-dismissible fade show" role="alert" ng-if="!loading && errorCode != '' && errorDetails != ''">
				<h4 class="alert-heading">
					<i class="fas fa-exclamation-triangle"></i>
					Something went terribly wrong!
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</h4>
				<p>Error code: {{errorCode}}</p>
				<p>{{errorDetails}}</p>
				<hr>
				<p class="mb-0">Please make sure that the Steam profiles provided exists and that they are public!</p>
			</div>

			<!-- Random game modal -->
			<div class="modal fade" id="randomGameModal" tabindex="-1" role="dialog" aria-labelledby="randomGameModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="randomGameModalLabel">Your random game is...</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<lead>{{randomGame.name}}</lead>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
							<a target="_blank" ng-href="https://store.steampowered.com/app/{{randomGame.appID}}" class="btn btn-primary">Open in Steam store</a>
						</div>
					</div>
				</div>
			</div>
		</main>
	</body>
</html>
